body {
    background-color: antiquewhite;
}

.memeImage {
    max-width: 400px;
}

.memeItem {
    margin-bottom: 25px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.vote-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#headline {
    display: flex;
    justify-content: center;
}

#meme-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    align-items: center;
}

.meme-title {
    text-align: center;
}

#get-memes {
    display: none;
    border-color: blue;
    border-width: 5px;
}